.popup__input-error {
  width: 100%;
  height: 47px;
  color: #FF0000;
  border: 0;
  font-size: 12px;
  /* line-height: 18px; */
  /* box-sizing: border-box; */
  padding: 8px 0 0;  /*узнать размер верха*/
  margin-bottom: 10px;
}